.Headers{
   border: 1px solid black ;
   margin-top: 300px; 
    text-align: center;
}
.std{
    
    list-style: none;
 display: flex;
    gap: 40px;
}
.navbar{
    border: 1px solid black;
    display: flex   ;
    align-content: space-around;
}